<article class="row gutters postembed">
  <time class="published" datetime="{{ include.post.date | date: '%Y-%m-%d' }}">{{ include.post.date | date_to_long_string }}</time>
  <a class="comment-count" data-disqus-identifier="{{ include.post.id }}"></a>

  {% if include.post.thumbnail %}<a href="{{ site.baseurl }}{{ include.post.url }}"><img src="{{ site.baseurl }}/{{ include.post.thumbnail }}" class="thumbnail"></a>{% endif %}
  <h2>{{ include.post.title }}</h2>
  {% if include.excerpt %}
    <p>
    {{ include.post.excerpt || remove: "<p>" || remove: "</p>"}}
    <br/>
    <a href="{{ site.baseurl }}{{ include.post.url }}">Read more</a>
    </p>
  {% else %}
    {{ include.post.content }}
  {% endif %}

  {% if include.showtags %}
  <div class="muted bundle">
    {% include taglist.html post=include.post %}
    &nbsp;&middot;&nbsp;
    <a href="{{ include.post.permalink }}">Permalink</a>
  </div>
  {% endif %}
</article>
